<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    User Profiles
</h1>

<img src="<%= user.avatar %>" alt="<%= user.username %>" width="100">

<% if (user.id == profile_user.id) { %>
    <!-- If user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="username" placeholder="Username" value="<%= profile_user.username %>" required>
        <input type="email" name="email" placeholder="Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" id="" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<% }else { %>
    <!-- Else show only the profile info -->
    <p><%= profile_user.username %></p>
    <p><%= profile_user.email %></p>
<% } %>

<script src="/js/user_profile.js"></script>